*{
    font-family:'Karla',sans-serif;
}
body{
    background-color:hsl(204, 43%, 93%) ;
}
.main{
    /* padding:3rem 21rem 0rem 21rem; */
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
h1{
padding:2rem 0rem 1rem 4rem;
color: hsl(179, 62%, 43%);
font-size: x-large;
}
.tagline{
    padding-left: 4rem;
    color: hsl(71, 73%, 54%);
    font-size: 16px;
}
.moto{
    padding-left: 4rem;
    max-width: 33rem;
    color: hsl(218, 22%, 67%);
}
.contain{
    display: flex;
}
.left{flex-direction: row;
background-color: hsl(179, 62%, 43%);
color: white;
padding: 35px;
border-radius: 0px 0px 0px 10px;
box-shadow: 10px 10px 20px #888888;
}
.right{
    background-color:hsl(179, 40%, 52%) ;
    color: white;
    flex-direction: row;
    padding: 35px 60px 35px 61px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 10px 10px 20px #888888;
}
.heading{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 10px 10px 20px #888888;
}
li{
    list-style: none;
    color: hsl(204, 43%, 93%);
    font-size: small;
    margin-bottom: 7px;
}
span{
    font-size: xx-large;
}
.m1{
    font-size: small;
    padding: 0px 0px 10px 15px;
    color: rgba(255, 255, 255, 0.575);
    position: relative;
    bottom: 7px;
}
.p1{font-size: small;
    color: rgba(255, 255, 255, 0.822);
    margin-top: 25px;
    margin-bottom: 5px;

}
ul{
    padding-inline-start: 0px;
}
button{
    width: 15rem;
    height: 3rem;
    position: relative;
    left: 11px;
    bottom: -28px;
    border-radius: 9px;
    background-color: hsl(71, 73%, 54%);
    border-color:hsl(71, 73%, 54%) ;
    color: white;
    font-size: 18px;
}